* {
  background-color: transparent;
  text-align: left;
  font-weight: normal;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%; //for rem
}

body {
  font-family: Arial;
  background-color: #EFEFEF;
  color: #222222;
}

strong {
  font-weight: bold;
}
p strong {
  margin-right: .4rem;
}

h1, h2 {
  text-align: center;
  font-family: Palatino Linotype, Georgia, Times New Roman, serif;
  width: 100%;
}
h1 {
  font-variant: small-caps;
  font-size: 2.5rem;
}
h2 {
  margin-bottom: .4rem;
  font-style: italic;
  font-size: 1.5rem;
  padding-bottom: .2rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: .1rem solid #f7913c;
  border-radius: 25px;
}
.intro {
  text-align: center;
  margin-bottom: 1rem;
  font-family: Palatino Linotype, Georgia, Times New Roman, serif;
}
.outro {
  text-align: center;
  margin-top: 1rem;
  font-family: Palatino Linotype, Georgia, Times New Roman, serif;
}

.intro p, .outro p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.1rem;
  max-width: 50rem;
}

.main {
  padding: 1rem;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  border-bottom: .05rem solid #777;
}

thead, tfoot {
  background-color: #444;
  display: block;
  table-layout: fixed;
}
th {
  letter-spacing: .05rem;
  color: #FFF;
  padding: .2rem .5rem;
  font-weight: bold;
  font-size: 1rem;
}
th:not(:last-child) {
  border-right: .05rem solid #777;
}
tr {
  display: table;
}

tbody {
  display: block;
  overflow: auto;
  max-height: calc(100vh - 18rem);

}
tbody tr {
  display: table;
  table-layout: fixed;
  border-bottom: .05rem solid #CCC;
}

tbody tr:nth-child(even) {
  background-color: .05rem solid #000;
}

td {
  padding: .2rem .5rem;
  vertical-align: top;
  min-width: 14rem;
}
td:not(:last-child) {
  border-right: .05rem solid #CCC;
}
td:nth-child(even) {
  background-color: rgba(0, 0, 0, .02);
}
td p, td a {
  display: block;
  margin-bottom: .6rem;
  padding-left: 1.3rem;
  text-indent: -1.3rem;
  transition: .15s background-color;
  font-size: 1rem;
}

a:hover {
  background-color: rgba(0,0,0,.04);
}

#tooltip {
  position: absolute;
  width: auto;
  min-width: 15rem;
  max-width: 30rem;
  padding: .2rem .5rem;
  background: rgba(0, 0, 0, .65);
  color: #FFF;
  border-radius: .3rem;
  z-index: 9001;
  font-size: .8rem;
  display: block;
}


#tooltip p {
  margin-bottom: .2rem;
  padding-left: 1rem;
  text-indent: -1rem;
  font-size: .8rem;
}

 #tooltip p:last-child {
  margin-bottom: 0;
}