* {
  background-color: transparent;
  text-align: left;
  font-weight: normal;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%; //for rem
}

body {
  font-family: Arial;
  background-color: #EFEFEF;
  color: #222222;
}

strong {
  font-weight: bold;
}
p strong {
  margin-right: .4rem;
}

h1, h2 {
  text-align: center;
  font-family: Palatino Linotype, Georgia, Times New Roman, serif;
  width: 100%;
}
h1 {
  font-variant: small-caps;
  font-size: 2.5rem;
}
h2 {
  margin-bottom: .4rem;
  font-style: italic;
  font-size: 1.5rem;
  padding-bottom: .2rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: .1rem solid #f7913c;
  border-radius: 25px;
}
.intro {
  text-align: center;
  margin-bottom: 1rem;
  font-family: Palatino Linotype, Georgia, Times New Roman, serif;
}
.outro {
  text-align: center;
  margin-top: 1rem;
  font-family: Palatino Linotype, Georgia, Times New Roman, serif;
}

.intro p, .outro p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.1rem;
  max-width: 50rem;
}

.main {
  padding: 1rem;
}

button {
  background-color: #777;
  color: #FFF;
  padding: .5rem;
  font-size: 1rem;
  transition: .15s background-color;
}

button:hover {
  background-color: #888;
  cursor: pointer;
}

button.compact {
  position: absolute;
  top: 1rem;
  left: 1rem;
}