#tooltip {
  position: fixed;
  top: 1rem;
  right: 3rem;
  width: auto;
  min-width: 15rem;
  max-width: 30rem;
  padding: .4rem .7rem;
  background: rgba(0, 0, 0, .45);
  color: #FFF;
  border: 1px solid #777;
  border-radius: .2rem;
  z-index: 9001;
  font-size: .8rem;
  display: block;
}


#tooltip p {
  margin-bottom: .2rem;
  padding-left: 1rem;
  text-indent: -1rem;
  font-size: .8rem;
}

 #tooltip p:last-child {
  margin-bottom: 0;
}