.form {
  display: flex;
  flex-direction: column;
}

.parser {
  transition: .15s height;
}

.parser:focus {
  height: 5rem;
}

.field-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 2.25rem);
}

.field, .label {
  font-size: 1rem;
  padding: .25rem .5rem;
  height: 2rem;
}

.label {
  padding-top: 1rem;
  text-align: right;
  flex: 0 0 15%;
  .font-size: .8rem;
  color: #777;
}

.field {
  border: 1px solid #CCC;
}

.field + .field {
  border-left: none;
}

.field-group .field {
  flex: 1 1 50%;
}

.field-group:not(:last-child) {
  margin-bottom: .8rem;
}

.selectivity-single-result-container {
  top: .5rem;
  left: 0;
}

.selectivity-multiple-input-container {
  background-color: transparent;
  padding: 0;
}

.selectivity-multiple-input {
  width: 100% !important;
}

.selectivity-single-select {
  background-color: transparent;
  height: 2rem;
  padding: 0;
}